*.gcda
*.gch
*.gcno
*.o
*libembedlog*
.*
*.plist
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
embedlog-*
embedlog-*
examples/print_memory
examples/print_options
examples/print_simple
examples/print_to_file
examples/print_tty
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
tap-driver.sh
test
test-driver
test-suite.log
test.log
test.trs
tst/coverage.info
tst/coveragereport/
www/downloads.html
www/manuals
www/out
